@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: FreeMono, monospace;
}

.Banner {
    position: sticky;
    background-color: #00d0ff;
    font-weight: 20;
    text-align: center;
    font-family:FreeMono, monospace;
    margin: 0 auto;
    background-image: url("images/Untitled-2_page-0001 (3).jpg");

}
.Intro {
margin: 0 auto;
width: 60%;
height: 100px;
border-radius: 40px;
padding-top: 40px; 
margin-bottom: 50px;
margin-top: 50px;
font: FreeMono, monospace;
color: #0d0411;
background-image: url("https://raw.githubusercontent.com/C-Cara/C-Cara.github.io/b149749c46e59b37cae83cb8fc51b1af95713372/images/Untitled-2_page-0001%20(3).jpg");
background-size:cover;
background-color: #d2bddc;
box-shadow: 10px 10px 8px #582670;
text-align: center;
font-size: larger;
font-weight: bolder;
background-color: #ffffff;
}

body {
    min-height: 100vh;
    background-color: #686369;
    background-image: url("https://raw.githubusercontent.com/C-Cara/C-Cara.github.io/b149749c46e59b37cae83cb8fc51b1af95713372/images/Untitled-2_page-0001%20(3).jpg");
    background-size:cover;
}

  .box {
width: 20%;
height: 40%;
background-color: #d2bddc;
position:absolute;
border-radius: 25px;
left: 40%;
opacity: 80%;
list-style-position:inside;
transform-style: preserve-3d;
box-shadow: 10px 10px 8px #582670;
transition:  background-color 600ms ease-out 100ms;
transition-duration: 600ms;
}

.bullets {
    text-align:center;
    padding-top: 30%;
    font-size: 20px;
}
a:any-link{
    color: #250919;
}

.box:hover {
    background-color: #ad60b8;
  }


  .group {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    background-color: #d2bddc;
    margin: 25% auto;
  }


  
  .item {
    width: 15vw;
    height: 35vh;
    background-position: center;
    background-size:cover;
    margin: 1vw;
    border-radius: 3vw;
    display: inline-block;
    cursor: pointer;
  }


  
  .music {
    width: auto;
    bottom: 50px;
    position:absolute;
    left: 0%;
    display:block;
  }

  footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height: 50px;
    background-color: #00d0ff;
    background-image: url("https://raw.githubusercontent.com/C-Cara/C-Cara.github.io/b149749c46e59b37cae83cb8fc51b1af95713372/images/Untitled-2_page-0001%20(3).jpg");
  }

  .art {
    font-family: Poppins;
    text-align: center;
    font-size: 15px;
    color: #822477;
  }
